.centrado {
	 text-align:center;
}
.primeraVez {
	background-color:#6f9673;
	color: WHITE;
}
.primeraVez a {
	color: WHITE;
}
.subsecuente {
	background-color:#6BCDAE;
	color: WHITE;
}
.subsecuente a {
	color:WHITE;
}
.libre {
	color: WHITE;
}
.libre:hover {
	background-color:#286090;
	color: WHITE;	
}
.horaOcupada {
	background-color:#78646A; 
	color: WHITE;
}
.seleccionado{
	background-color:#12436E;
	color: WHITE;	
}
.selectionBox {
	padding-right:0px;
}
.col-narrow {
	padding-right:0px !important;
}
.nopadding {
   padding-right: 0 !important;
   margin: 0 !important;
}
.ocultar-contenido {
	display: none !important; 
}

.cita h1{
	margin: 0 0 1em;
}
.cita-form{
	margin: 0;
}
.cita-form .form-group{
	margin: 0 0 2.5em;
}
.cita-form .form-group .btn-horario{
	margin: 2em 0;
}
.cita-buttons{
	margin: 2em 0;
}
.cita-buttons .btn{
	display: block;
	margin: 0 auto;
	width: 90px;
}
.cita .calendar{
	width: 70%;
}
@media (max-width: 1024px) {
	.cita .calendar{
		width: 90%;
	}
}
.asignadaA{
	color: black;
	background-color: #e8a4f1;
}
/*@media (min-width: 768px) and (max-width: 959px) {
	.cita .calendar{
		width: 90%;
	}
}*/